@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.Login,.Register {
  box-sizing: border-box;
}
.Login,.Register {
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

 html, .App, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 500px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  background-attachment: noscroll;
}

.auth-wrapper .form-control:focus {
  border-color: #B03060;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #B03060;
}

.bgimage {
  background-image: url('https://blog.opogo.com/hs-fs/hubfs/leader%20cartoon.jpg?width=2560&name=leader%20cartoon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}